{{!log data}}
<div class="container-xl">			    
	<h1 class="app-page-title">New Widget</h1>
	
	<form class="settings-form" method="post" action="/widget/add">
		<hr class="mb-4">	
			<label for="setting-input-1" class="form-label">Widget name</label>                                  
			<div class="col-auto" style="width:95%">
				<input type="text" class="form-control char_input" name="name">
			</div>		
		<hr class="mb-4">				
		<div class="row g-4 settings-section">
			<div class="col-12 col-md-4">
				<h3 class="section-title">Short text</h3>
				<div class="section-intro">This fields used for small textes sach us Titles, short descriptions</div>
			</div>
			<div class="col-12 col-md-8">
				<div class="app-card app-card-settings shadow-sm p-4">
					
					<div class="app-card-body">
						<div class="mb-3">
							<div class="row g-2 justify-content-start align-items-center">
								<label for="setting-input-1" class="form-label">Short text 1</label>                                  
								<div class="col-auto">
									<input class="form-check-input char_checkbox" type="checkbox" value="" id="check_char_1">                                                
								</div>
								<div class="col-auto" style="width:95%">
									<input type="text" class="form-control char_input" name="char_1" disabled value="">
								</div>									          									    
							</div>
						</div>
						<div class="mb-3">
							<div class="row g-2 justify-content-start align-items-center">
								<label for="setting-input-1" class="form-label">Short text 2</label>                                  
								<div class="col-auto">
									<input class="form-check-input char_checkbox" type="checkbox" value="" id="check_char_2">                                                
								</div>
								<div class="col-auto" style="width:95%">
									<input type="text" class="form-control char_input" name="char_2" disabled value="">
								</div>									          									    
							</div>
						</div>
						<div class="mb-3">
							<div class="row g-2 justify-content-start align-items-center">
								<label for="setting-input-1" class="form-label">Short text 3</label>                                  
								<div class="col-auto">
									<input class="form-check-input char_checkbox" type="checkbox" value="" id="check_char_3">                                                
								</div>
								<div class="col-auto" style="width:95%">
									<input type="text" class="form-control char_input" name="char_3" disabled value="">
								</div>									          									    
							</div>
						</div>
						<div class="mb-3">
							<div class="row g-2 justify-content-start align-items-center">
								<label for="setting-input-1" class="form-label">Short text 4</label>                                  
								<div class="col-auto">
									<input class="form-check-input char_checkbox" type="checkbox" value="" id="check_char_4">                                                
								</div>
								<div class="col-auto" style="width:95%">
									<input type="text" class="form-control char_input" name="char_4" disabled value="">
								</div>									          									    
							</div>
						</div>									
					</div><!--//app-card-body-->
					
				</div><!--//app-card-->
			</div>
		</div><!--//row-->
		<hr class="my-4">
		<div class="row g-4 settings-section">
			<div class="col-12 col-md-4">
				<h3 class="section-title">Text</h3>
				<div class="section-intro">This is a long text field to store long batch of the text sach us news body , articles blog (widget - textArea)  </div>
			</div>
			<div class="col-12 col-md-8">
				<div class="app-card app-card-settings shadow-sm p-4">						    
					<div class="app-card-body">
						<div class="mb-3">
								<div class="row g-2 justify-content-start align-items-center">
									<label for="setting-input-1" class="form-label">Text 1</label>                                  
									<div class="col-auto">
										<input class="form-check-input text_checkbox" type="checkbox" value="" id="check_text1">                                                
									</div>
									<div class="col-auto" style="width:95%">
										<input type="text" class="form-control text_input" name="text_1" disabled value="">
									</div>									          									    
								</div>
							</div>
							<div class="mb-3">
								<div class="row g-2 justify-content-start align-items-center">
									<label for="setting-input-1" class="form-label">Text 2</label>                                  
									<div class="col-auto">
										<input class="form-check-input text_checkbox" type="checkbox" value="" id="check_text2">                                                
									</div>
									<div class="col-auto" style="width:95%">
										<input type="text" class="form-control text_input" name="text_2" disabled value="">
									</div>									          									    
								</div>
							</div>
							<div class="mb-3">
								<div class="row g-2 justify-content-start align-items-center">
									<label for="setting-input-1" class="form-label">Text 3</label>                                  
									<div class="col-auto">
										<input class="form-check-input text_checkbox" type="checkbox" value="" id="check_text3">                                                
									</div>
									<div class="col-auto" style="width:95%">
										<input type="text" class="form-control text_input" name="text_3" disabled value="">
									</div>									          									    
								</div>
							</div>
							<div class="mb-3">
								<div class="row g-2 justify-content-start align-items-center">
									<label for="setting-input-1" class="form-label">Text 4</label>                                  
									<div class="col-auto">
										<input class="form-check-input text_checkbox" type="checkbox" value="" id="check_text4">                                                
									</div>
									<div class="col-auto" style="width:95%">
										<input type="text" class="form-control text_input" name="text_4" disabled value="">
									</div>									          									    
								</div>
							</div>		
					</div><!--//app-card-body-->						    
				</div><!--//app-card-->
			</div>
		</div><!--//row-->
		<hr class="mb-4">	
		<button type="submit" name="submitButton" class="btn app-btn-primary" >Save Changes</button>
	</form>
</div><!--//container-fluid-->