asdasdads
{{!log  payload}}
<select class="form-select w-auto">
    <option selected="" value="option-1">All</option>
    {{#each payload}}
        <option value="{{edId}}">{{name}}</option>
    {{/each}}
</select>